body {
    background-color: lightgray;
}

.buscador {
    display: flex;
    justify-content: center;
}

.buscador .formulario {
    display: flex;
    align-items: center;
}

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
}