{% extends 'layout.html' %}

{% block body %}
    <h2 class="text-center"> Ingrese los datos del nuevo juego: </h2>
    <form method="POST" action="{{url_for('agregando_item')}}" class="container my-3">
        <div class="mb-3">
            <label for="name" class="form-label"> Nombre del juego </label>
            <input type="text" class="form-control w-25" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="min-players" class="form-label"> Cantidad minima de jugadores </label>
            <input type="number" class="form-control w-25" id="min-players" name="minPlayers">
        </div>
        <div class="mb-3">
            <label for="max-players" class="form-label"> Cantidad maxima de jugadores </label>
            <input type="number" class="form-control w-25" id="max-players" name="maxPlayers">
        </div>
        <div class="mb-3">
            <label for="min-age" class="form-label"> Edad minima </label>
            <input type="number" class="form-control w-25" id="minAge" name="minAge">
        </div>
        <div class="mb-3">
            <label for="from-country" class="form-label"> Pais de origen </label>
            <input type="text" class="form-control w-25" id="from-country" name="fromCountry">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label"> Precio en dolares </label>
            <input type="number" step="0.01" class="form-control w-25" id="price" name="priceDollars">
        </div>
        <button type="submit" class="btn btn-success"> Agregar </button>
    </form>

    <div class="container d-flex justify-content-center gap-3 my-3">
        <a href="/" class="btn btn-primary"> Volver al Inicio </a>
    </div>
    
{% endblock %}